<nav>
  <div class="logos">
    <a href="/">
      <img class="home_page_logo"src="images/characters.png">
    </a>
  </div>
  <div class="logos">
    <a href="/new">
      <img class="new_character_logo" src="images/new_character.png">
    </a>
  </div>
</nav>
